<!DOCTYPE html>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<link rel="stylesheet" href="../static/styles.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<header>
    <nav class="md-header">
        <div class="col-md-4 adl-name"><a href="/">
            <img src="../static/logo.png" class="adl-logo"></a>
            ADLstream
        </div>
        <div class="col-md-4 adl-index"> Stream - Generator  - <b style="color: white">Evaluator</b> - Model - End</div>
        <div class="col-md-4"></div>
    </nav>
</header>

<body onload="addForm()"></body>

<script>
    function addForm() {
        var e = document.getElementById("evaluator").value;
        var file = "";
        if (e === "interleavedChunkEvaluator") {
            file = "static/templates/evaluators/interleavedChunkEvaluatorForm.html"
        } else {
            file = "static/templates/evaluators/prequentialEvaluatorForm.html"
        }
        $("#form").load(file)
    }
</script>

<section class="adl-section">
    <div class="container">
        <h2>Choose Evaluator</h2>
        <select name="evaluator" onchange="addForm()" id="evaluator" class="form-control adl-select">
            <option value="prequentialEvaluator">Prequential Evaluator</option>
            <option value="interleavedChunkEvaluator">Interleaved Chunk Evaluator</option>
        </select>
        <div id="form"></div>
    </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
