<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<link rel="stylesheet" href="../static/styles.css">

<section class="adl-section">
    <div class="container">
        <h2> CSV Stream Parameters</h2>
        <form method="post" enctype=multipart/form-data>
            <input type="hidden" name="stream" value="CSVFileStream"/>
            <div class="form-group">
                <label for="csvFile">CSV File</label>
                <label>
                    <input required type="file" accept=".csv" name="file"
                           class="form-control">
                </label>
            </div>

            <div class="form-group">
                <label for="sep">Separator</label>
                <label>
                    <input required type="text" name="sep"
                           value="," class="form-control">
                </label>
            </div>

            <div class="form-group">
                <label for="indexCol">Index columns</label>
                <label>
                    <input required type="number" name="indexCol"
                           value="0" min="0" class="form-control">
                </label>
            </div>

            <div class="form-group">
                <label for="header">Header</label>
                <label>
                    <input required type="number" name="header"
                           value="0" min="0" class="form-control">
                </label>
            </div>

            <div class="form-group">
                <label for="streamPeriod">Stream Period</label>
                <label>
                    <input required type="number" name="streamPeriod"
                           value="100" min="0" class="form-control">
                </label>
            </div>

            <div class="form-group">
                <label for="timeout">Timeout</label>
                <label>
                    <input required type="number" name="timeout"
                           value="30000" min="1" class="form-control">
                </label>
            </div>

            <div class="form-group">
                <button type="submit" value="Upload" class="btn adl-button">Stream Generator</button>
            </div>
        </form>
    </div>
    <button onclick="history.back()" class="btn adl-secondary-button">Home</button>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>