<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<link rel="stylesheet" href="../static/styles.css">

<section class="adl-section">
    <div class="container">
        <h2> Fake Stream Parameters </h2>
        <form method="post">
            <input type="hidden" name="stream" value="fakeStream"/>
            <div class="form-group">
                <label>Number of features</label>
                <label>
                    <input required type="number" name="numFeatures"
                           value="6" class="form-control adl-form">
                </label>
            </div>
            <div class="form-group">
                <label>Length of stream</label>
                <label>
                    <input required type="number" name="streamLength"
                           value="1000" class="form-control adl-form">
                </label>
            </div>
            <div class="form-group">
                <label>Stream Period</label>
                <label>
                    <input required type="number" name="streamPeriod"
                           value="100" min="0" class="form-control adl-form">
                </label>
            </div>
            <div class="form-group">
                <button type="submit" class="btn adl-button">Stream Generator</button>
            </div>
        </form>
    </div>
    <button onclick="history.back()" class="btn adl-secondary-button">Home</button>
</section>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>