<!DOCTYPE html>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="../static/styles.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<header>
    <!-- Fixed navbar -->
    <nav class="md-header">
        <div class="col-md-4 adl-name"><a href="/">
            <img src="../static/logo.png" class="adl-logo"></a>
            ADLstream
        </div>
        <div class="col-md-4 adl-index"> Stream - Generator  - Evaluator - <b style="color: white">Model</b> - End</div>
        <div class="col-md-4"></div>
    </nav>
</header>

<body onload="addForm()"></body>

<script>
    function addForm() {
        var e = document.getElementById("model").value;
        var file = "static/templates/models/"+ e +"Form.html";
        $("#form").load(file)
    }
</script>

<section class="adl-section">
    <div class="container">
        <h2>Choose model</h2>
        <select onchange="addForm()" name="model" id="model" class="form-control adl-select">
            <option value="lstm">LSTM</option>
            <option value="mlp">MLP</option>
            <option value="gru">GRU</option>
            <option value="ernn">ERNN</option>
            <option value="esn">ESN</option>
            <option value="cnn">CNN</option>
            <option value="tcn">TCN</option>
        </select>
    <div id="form"></div>
    </div>
</section>>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
