<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="../static/styles.css">

<script>
    function checkList(parameterList, parameter, updatedParameter) {
        for (i = 0; i < parameterList.length; i++) {
            let numero = parameterList[i]

            if (isNaN(parseInt(numero)) || isNaN(numero)) {
                if (parameter === updatedParameter) {
                    alert("The parameter must be a list made up of numbers");
                }
                return true;
            }
        }
        return false;
    }

    function validateList(parameter, updatedParameter) {
        let parameterValue = document.forms["form"][parameter].value;
        let parameterList = parameterValue.split(",")
        if (parameter === "denseLayers" && parameterValue === "") {
            return false;
        }
        return checkList(parameterList, parameter, updatedParameter);
    }

    function validateForm(updatedParameter) {
        let dilations = validateList("dilations", updatedParameter);
        let denseLayers = validateList("denseLayers", updatedParameter);
        let disable = dilations || denseLayers;
        document.getElementById("button").disabled = disable;
    }
</script>

<section class="adl-section">
    <div class="container">
        <h2> TCN Parameters </h2>
        <form name="form" method="post">
            <input type="hidden" name="model" value="tcn"/>
            <div class="form-group">
                <label for="nbFilters">Convolutional Filters</label>
                <label>
                    <input value="64" type="number" name="nbFilters" class="form-control">
                </label>
            </div>
            <div class="form-group">
                <label for="kernelSize">Size of Convolutional Kernel</label>
                <label>
                    <input value="2" type="number" name="kernelSize" class="form-control">
                </label>
            </div>
            <div class="form-group">
                <label for="nbStacks">Number of Stacks of resiudal blocks</label>
                <label>
                    <input value="1" type="number" name="nbStacks" class="form-control">
                </label>
            </div>
            <div class="form-group">
                <label for="dilations">List of dilations</label>
                <label>
                    <input type="text" value="1,2,4,8,16" onchange="validateForm('dilations')" style="width: unset"
                           id="dilations" name="dilations"
                           class="form-control">
                </label>
            </div>
            <div class="form-group">
                <label for="tcnDropout">TCN Dropout</label>
                <label>
                    <input value="0" type="number" step="0.01" max="1" min="0" name="tcnDropout"
                           class="form-control">
                </label>
            </div>
            <div class="form-group">
                <label for="returnSequences">Return Sequences</label>
                <label>
                    <select style="width: unset" name="returnSequences" id="model-select" class="form-control">
                        <option value=True>Yes</option>
                        <option value=False>No</option>
                    </select>
                </label>
            </div>
            <div class="form-group">
                <label for="activation-select">Choose residual blocks activation function</label>
                <label>
                    <select name="activation" id="activation-select" class="form-control" style="width: unset">
                        <option value="linear">Linear</option>
                        <option value="relu">Relu</option>
                        <option value="deserialize">Deserialize</option>
                        <option value="elu">Elu</option>
                        <option value="exponential">Exponential</option>
                        <option value="gelu">Gelu</option>
                        <option value="get">Get</option>
                        <option value="hard_sigmoid">Hard sigmoid</option>
                        <option value="hard_silu">Hard silu</option>
                        <option value="hard_swish">Hard swish</option>
                        <option value="leaky_relu">Leaky relu</option>
                        <option value="log_softmax">Log softmax</option>
                        <option value="mish">Mish</option>
                        <option value="relu6">Relu 6</option>
                        <option value="selu">Selu</option>
                        <option value="serialize">Serialize</option>
                        <option value="sigmoid">Sigmoid</option>
                        <option value="silu">Silu</option>
                        <option value="softmax">Softmax</option>
                        <option value="softplus">Softplus</option>
                        <option value="softsign">Softsign</option>
                        <option value="swish">Swish</option>
                        <option value="tanh">Tanh</option>
                    </select>
                </label>
            </div>

            <div class="form-group">
                <label for="out-select">Choose output layer activation function</label>
                <label>
                    <select name="outActivation" id="out-select" class="form-control" style="width: unset">
                        <option value="linear">Linear</option>
                        <option value="deserialize">Deserialize</option>
                        <option value="elu">Elu</option>
                        <option value="exponential">Exponential</option>
                        <option value="gelu">Gelu</option>
                        <option value="get">Get</option>
                        <option value="hard_sigmoid">Hard sigmoid</option>
                        <option value="hard_silu">Hard silu</option>
                        <option value="hard_swish">Hard swish</option>
                        <option value="leaky_relu">Leaky relu</option>
                        <option value="log_softmax">Log softmax</option>
                        <option value="mish">Mish</option>
                        <option value="relu">Relu</option>
                        <option value="relu6">Relu 6</option>
                        <option value="selu">Selu</option>
                        <option value="serialize">Serialize</option>
                        <option value="sigmoid">Sigmoid</option>
                        <option value="silu">Silu</option>
                        <option value="softmax">Softmax</option>
                        <option value="softplus">Softplus</option>
                        <option value="softsign">Softsign</option>
                        <option value="swish">Swish</option>
                        <option value="tanh">Tanh</option>
                    </select>
                </label>
            </div>
            <div class="form-group">
                <label for="padding">Padding</label>
                <label>
                    <select style="width: unset" name="padding" id="padding-select" class="form-control">
                        <option value="causal">Causal</option>
                        <option value=same>Same</option>
                    </select>
                </label>
            </div>
            <div class="form-group">
                <label for="skipConnections">Use skip connections</label>
                <label>
                    <select style="width: unset" name="skipConnections" id="skipConnections-select"
                            class="form-control">
                        <option value=True>Yes</option>
                        <option value=False>No</option>
                    </select>
                </label>
            </div>
            <div class="form-group">
                <label for="barchNorm">Use batch normalization</label>
                <label>
                    <select style="width: unset" name="barchNorm" id="batch-select" class="form-control">
                        <option value=False>No</option>
                        <option value=True>Yes</option>
                    </select>
                </label>
            </div>
            <div class="form-group">
                <label for="denseLayers">Hidden neurons for each dense layers</label>
                <label>
                    <input type="text" value="" onchange="validateForm('denseLayers')" placeholder="16,8" style="width: unset" id="denseLayers"
                           name="denseLayers"
                           class="form-control">
                </label>
            </div>
            <div class="form-group">
                <label for="denseDropout">Dense Dropout</label>
                <label>
                    <input value="0" type="number" step="0.01" max="1" min="0" name="denseDropout"
                           class="form-control">
                </label>
            </div>
            <div class="form-group">
                <label for="dense-select">Choose dense layer activation function</label>
                <label>
                    <select name="denseActivation" id="out-select" class="form-control" style="width: unset">
                        <option value="linear">Linear</option>
                        <option value="deserialize">Deserialize</option>
                        <option value="elu">Elu</option>
                        <option value="exponential">Exponential</option>
                        <option value="gelu">Gelu</option>
                        <option value="get">Get</option>
                        <option value="hard_sigmoid">Hard sigmoid</option>
                        <option value="hard_silu">Hard silu</option>
                        <option value="hard_swish">Hard swish</option>
                        <option value="leaky_relu">Leaky relu</option>
                        <option value="log_softmax">Log softmax</option>
                        <option value="mish">Mish</option>
                        <option value="relu">Relu</option>
                        <option value="relu6">Relu 6</option>
                        <option value="selu">Selu</option>
                        <option value="serialize">Serialize</option>
                        <option value="sigmoid">Sigmoid</option>
                        <option value="silu">Silu</option>
                        <option value="softmax">Softmax</option>
                        <option value="softplus">Softplus</option>
                        <option value="softsign">Softsign</option>
                        <option value="swish">Swish</option>
                        <option value="tanh">Tanh</option>
                    </select>
                </label>
            </div>
            <div class="form-group">
                <button type="submit" id="button" class="btn adl-button">Finish</button>
            </div>
        </form>
        <button onclick="history.back()" class="btn adl-secondary-button">Evaluator</button>
    </div>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>